html, body {
  margin: 0;
  height: 100%;
  padding: 0;
}

button {
  margin-left: 6px;
  padding: 6px 11px;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
}
button.add-task {
  background-color: #4caf50;
  color: white;
}

.App {
  text-align: center;
  background-color: skyblue;
  padding: 19px;
  height: 100vh; /* Add this line */
}

.App ul {
  list-style-type: none;
}

button.save-task {
  background-color: #1e90ff;
  color: white;
}

button.delete-task {
  background-color: #ff4500;
  color: white;
}
button.edit-task {
  background-color: #ffa500;
  color: white;
}